node_modules/
.turbo/
tsconfig.tsbuildinfo
dist/
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js build artifacts
.next/
.vercel/

# Output files
autofuse.css
autofuse-core.css
